   <h2>后台管理界面</h2>
<div class="top-wrap">
  <a href="/admin/">管理首页</a>
  <a href="/admin/notice">公告设置</a>
  <a href="/admin/productlist">产品设置设置</a>
  <a href="/admin/userinfo">用户信息设置</a>
  <a href="/admin/xiaoqulist">小区数据管理</a>
  <a href="/admin/orderinfo">订单数据管理</a>
</div>
