<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      h2 { text-align: center}
    .top-wrap a {padding:20px; background:#ccc ; text-decoration: none}
    .top-wrap a:hover { background:yellow; text-decoration: none}
    .content-wrap { margin-top: 50px;}
    </style>
  </head>
  <body>
    <div class="page">
      <% include components/top.inc.ejs %>
      <div class="content-wrap">
        我是管理首页
      </div>
    </div>
  </body>
</html>
